<div class="background-wrap">
    <div class="background"></div>
</div>

<form id="accesspanel" action="" ngNativeValidate >
<h1 id="litheader">BCBSM - Login</h1>
<div class="inset">
    <p>
    <input type="text" name="username" [(ngModel)]="userName" id="email" placeholder="userName" required>
    </p>
    <p>
    <input type="password" name="password" [(ngModel)]="password" id="pwd" placeholder="password" required>
    </p>
</div>
<p class="p-container">
    <input type="submit" name="Login" id="go" value="Login" (click)="doAuthenticate()">
</p>
</form>